

<div><%= link_to "Beauty Works", root_path %></div>
<div><%= link_to "編集", edit_shop_path(@shop) %></div>

<div><%= @shop.name %></div>
<div><%= @shop.line_id %></div>
<div><%= @shop.email %></div>
<div><%= @shop.phone_number %></div>
<div><%= @shop.display %></div>
<div><%= @shop.post_code %></div>
<div><%= @shop.address_prefecture %></div>
<div><%= @shop.address_city %></div>
<div><%= @shop.address_branch %></div>
<div><%= @shop.address_building %></div>
<div><%= @shop.mon_start %></div>
<div><%= @shop.mon_finish %></div>
<div><%= @shop.mon_off %></div>
<div><%= @shop.tue_start %></div>
<div><%= @shop.tue_finish %></div>
<div><%= @shop.tue_off %></div>
<div><%= @shop.wed_start %></div>
<div><%= @shop.wed_finish %></div>
<div><%= @shop.wed_off %></div>
<div><%= @shop.thu_start %></div>
<div><%= @shop.thu_finish %></div>
<div><%= @shop.thu_off %></div>
<div><%= @shop.fri_start %></div>
<div><%= @shop.fri_finish %></div>
<div><%= @shop.fri_off %></div>
<div><%= @shop.sat_start %></div>
<div><%= @shop.sat_finish %></div>
<div><%= @shop.sat_off %></div>
<div><%= @shop.sun_start %></div>
<div><%= @shop.sun_finish %></div>
<div><%= @shop.sun_off %></div>
<div><%= @shop.memo %></div>
<div><%= @shop.share %></div>
<div><%= @shop.introduction %></div>
<div><%= @shop.customer_sex %></div>
<div><%= @shop.worker_sex %></div>
<div><%= @shop.appeal %></div>
<div><%= @shop.shop_occupations.map{|oc| oc.occupation_id} %></div>
<div><%= @shop.holidays.count %></div>